<div>
  <h2>Astrological Picture of the Day</h2>
    <div>
        <p>
        <!-- title of picture -->
        </p>
        <p>
          

          
            <!--picture from api will land here -->
        </p>
        <href 

        <p>
            <!-- other pertinent info about picutre will land here -->
        </p>
  </div>
  <p>
    <button class="btn btn-primary">Add to Favorites</button>
  </p>
</div>