<div class="text-center">
  <h2>{{city}}, {{state}}</h2>
  <p>Tonight's visibility:</p>
  <p> <!-- compair apis and give answer "no visibility, possible visibility, or full visibility" --></p>
  <p>
    <button class="btn btn-primary">Back to Homepage</button>
  </p>
</div>